<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="ApplicationController">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./app/css/login.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script-->
    <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script-->

    <!-- Angular App -->
    <script src="./app/app.js" type="text/javascript"></script>
    <!-- Controllers -->
    <script src="./app/js/controllers/application.js" type="text/javascript"></script>
    <script src="./app/js/controllers/default.js" type="text/javascript"></script>
    <script src="./app/js/controllers/signup.js" type="text/javascript"></script>
    <script src="./app/js/controllers/login.js" type="text/javascript"></script>
    <script src="./app/js/controllers/users.js" type="text/javascript"></script>
    <!-- Services -->
    <script src="./app/js/services/auth.js" type="text/javascript"></script>
    <script src="./app/js/services/user.js" type="text/javascript"></script>
    <!-- Routes -->
    <script src="./app/js/routes/routes.js" type="text/javascript"></script>
</head>
<body ng-controller="DefaultController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!"><img alt="Brand" src="./app/imgs/logo.png" height="30" width="30"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">{{ search.submit }}</button>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#!signup">Sign Up</a></li>
                    <li><a href="#!users">Users</a></li>
                    <li ng-repeat="link in links"><a href="#!login">{{ link }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
    </div>
</body>
</html>