<div class="jumbotron text-center">
    <form class="form-signin" ng-submit="submitForm(credentials)">
        <h2 class="form-signin-heading">{{ title }}</h2>
        <label for="username" class="sr-only">{{ label.user }}</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required ng-model="credentials.username">
        <!--label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus-->
        <label for="password" class="sr-only">{{ label.pass }}</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus ng-model="credentials.password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> {{ checkbox }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ button.submit }}</button>
    </form>
    <pre>{{ credentials }}</pre>
</div>