<div class="jumbotron text-center">
    <form class="form-signin" action="/signup" method="post">
        <h2 class="form-signin-heading">{{ title }}</h2>
        <label for="username" class="sr-only">{{ label.user }}</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        <!--label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus-->
        <label for="password" class="sr-only">{{ label.pass }}</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> {{ checkbox }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ submit }}</button>
        <a href="#!login">{{ link }}</a>
    </form>
    <div>
        <ul style="list-style-type: none">
            <li><a href="/auth/facebook">Facebook</a></li>
            <li><a href="/auth/google">Google</a></li>
            <li><a href="/auth/twitter">Twitter</a></li>
        </ul>
    </div>
</div>>