<div class="jumbotron text-center">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th id="tableHeader" ng-repeat="header in table.headers">{{ header }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.local.username }}</td>
                <td>{{ user.local.password }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>>